<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title === 'nicolas'">
  this is nicolas
</div>

<div *ngIf="title === 'julian'">
  this is julian
</div>

<div *ngIf="title === 'camilo'">
  this is camilo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">this is nicolas</p>
  <p *ngSwitchCase="'julian'">this is julian</p>
  <p *ngSwitchCase="'camilo'">this is camilo</p>
  <p *ngSwitchDefault>no match</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">The list is empty</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>